body {font-family: 'Roboto', sans-serif;
  color: #2e2f42; 
    color: #FFFFFF;
}
.container {width: 1440px;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0; }
header {
  display: flex;
  justify-content: flex-start;
  background-color: #FFFFFF;
  border: 1px solid #E7E9FC;

}
header h2 {padding-left: 156px;
  padding-top: 24px;
padding-bottom: 24px;
}

header nav ul{
  display: flex;
  justify-content: space-between;
  gap: 40px;
padding-top: 24px;
  padding-left: 76px}

.ilk {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
  color: #4d5ae5;
}

.ikinci {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
  color: #2e2f42;
}
header :hover {color: #404BBF;

}
nav ul li {
  list-style: none;
  text-decoration: none;
}

nav ul li a {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
address {
    display: flex;
    justify-content: flex-start;
    padding-left: 332px;
    padding-top: 24px;
    gap: 40px;
    padding-right: 156px;
    padding-bottom: 24px;
  }

.email {
  font-family: roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.tel {
  font-family: roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.anabaslik {display: flex;
  background-color: #2e2f42;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-family: roboto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  align-items: center;
  color: #ffffff;
  background-color: #2e2f42;
  text-align: center;
  padding-top: 260px;
  padding-bottom: 48px;
}
button {
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  vertical-align: middle;
  cursor: pointer;  
}

button:hover {
  background-color: #404BBF;
 
}
.bilgi1 ul {
  list-style: none;
}
.bilgi2 ul {
  list-style: none;
}
.bilgi1a {display: flex;
padding-top: 120px;
padding-bottom: 120px;
padding-left: 156px;}

.bilgi1 ul li h3 {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.bilgi1 ul li p {
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 8px;
}
.bilgi2 h2 {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 72px;
}
.bilgi2a {display: flex;
  gap: 24px;
  padding-left: 156px;
  flex-wrap: wrap;
}


.bilgi2a li {display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
.bilgi2a li h3 {padding-top: 32px;
  padding-bottom: 8px;
  }
.bilgi2 {
  border: 2px solid #f4f4fd;
  text-align: center;
  margin: 0;
  background-color: #f4f4fd;
  transition: 0.3s;
}

.bilgi2 h3 {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.bilgi2 p {
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.bilgi3 {border: 1px solid #E7E9FC;}

.bilgi3a {display: flex;
  padding-top: 72px;
  padding-left: 156px;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
.bilgi3 h2 {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-left: 611px;
  padding-top: 120px;
}

.bilgi3 ul li {
  list-style: none;
  text-decoration: none;
}

.bilgi3 h3 {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.bilgi3 p {
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.WEB {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
footer {
  background-color: #2e2f42;
  text-decoration: none;

}
.STUDIO {
  font-family: raleway, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}

footer p {display: flex;
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  text-decoration: none;
  padding-top: 16px;
  padding-left: 156px;
  padding-bottom: 100px;
  width: 264px;
  
}
.logo {display: flex;  
  padding-top: 100px;
  padding-left: 156px;
}